# Nextflow
.nextflow/*
.nextflow.log*
.nextflow.pid*

# test nextflow files
test/.nextflow/*
test/.nextflow.log*
test/work/*
test/results/*

# nf-test
.nf-test
null
/.tap
/data
/reports

# VSCode
*.code-workspace
