/*
---------------------------------------------------------------------
    Import config files
---------------------------------------------------------------------
*/
params {
    bufferSize = 8
}

includeConfig 'conf/containers.config'
includeConfig 'conf/isaac.config'
includeConfig 'conf/nf_test.config'
