profiles {
    nf_test {
        params {
            projectName = 'internal-reads-qc_nf-test'
            readsDir    = "${projectDir}/tests/data/reads/raw"

            // max resources
            maxCpus   = 2
            maxMemory = '4.GB'
            maxTime   = '15.m'
        }
        
        singularity {
            enabled    = true
            cacheDir   = "${SCRATCHDIR}/singularity"
            autoMounts = true
        }
    }
}
